.maille.maille-three-row-layout {
  box-sizing: var(--maille-three-row-layout-box-sizing, border-box);
  min-width: var(--maille-three-row-layout-min-width, 100%);

  display: flex;
  flex-direction: column;

  height: 100%;
}

.maille.maille-three-row-layout .maille-three-row-layout-header-container {
  flex-shrink: 0;
}

.maille.maille-three-row-layout .maille-three-row-layout-body-container {
  flex-grow: 1;
}

.maille.maille-three-row-layout .maille-three-row-layout-footer-container {
  flex-shrink: 0;
}
