.maille.maille-card.iblk {
  display: inline-block;
  background-color: white;
}

.component.maille-mailing-list-cta .inner-container {
  flex-direction: column;
}

.component.maille-mailing-list-cta .inner-container input.email-address {
  width: 100%;
  margin: 0;
  padding: .5em;
  box-sizing: border-box;

  border: 1px solid #BBB;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

.component.maille-mailing-list-cta .inner-container button.subscribe {
  width: 100%;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

p.error {
  text-align: center;
  color: var(--error-text, red);
}
