.maille.maille-text-input {
  border-radius: 0;
  border: 1px solid #DDD;
}

.maille.maille-text-input.size-sm { padding: .25em; }
.maille.maille-text-input.size-md { padding: .5em; }
.maille.maille-text-input.size-lg { padding: .75em; }

.maille.maille-text-input.rounded { border-radius: .25em; }
