.maille.maille-radio-input-group {
  display: inline-block;
  padding: .5em;
}

.maille.maille-radio-input-group.rounded {
  border-radius: .25em;
}

.maille.maille-radio-input-group.bordered {
  border: 1px solid #444;
}

.maille.maille-radio-input-group .maille.maille-radio-input {
  margin-left: .5em;
}

.maille.maille-radio-input-group .maille.maille-radio-input:first-child {
  margin-left: 0;
}

@media screen and (max-width:568px) {
  .maille.maille-radio-input-group .maille-radio-input {
    display: block;
  }

.maille.maille-radio-input-group .maille.maille-radio-input {
  margin-left: 0;
}

}
