.maille.maille-text-input-group .maille.maille-text-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.maille.maille-text-input-group .maille.maille-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
