.maille.maille-two-column-layout {
  box-sizing: var(--maille-two-column-layout-box-sizing, border-box);
  min-width: var(--maille-two-column-layout-min-width, 100%);

  display: flex;
  flex-direction: row;
}

.maille.maille-two-column-layout .maille-two-column-layout-lhs-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.maille.maille-two-column-layout .maille-two-column-layout-rhs-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
