html, body {
  min-width: 100%;
  min-height: 100%;
}
body {
  font-family: "Inter", sans-serif, Courier;
  margin: 0;
}

.flex { display: flex; }
.flex.wrapped { flex-wrap: wrap; }
.flex.vertical { flex-direction: column; }
.flex.centered { justify-content: center; }

.xs-margin-right { margin-right: .5em; }
.sm-margin-right { margin-right: 1em; }
.md-margin-right { margin-right: 2em; }

.xs-margin-horiz { margin: 0 .25em; }
.sm-margin-horiz { margin: 0 1em; }
.md-margin-horiz { margin: 0 2em; }

.xs-margin-left { margin-left: .5em; }
.sm-margin-left { margin-left: 1em; }
.md-margin-left { margin-left: 2em; }

.xs-margin-bottom { margin-bottom: .5em; }
.sm-margin-bottom { margin-bottom: 1em; }
.md-margin-bottom { margin-bottom: 2em; }

.no-margin { margin: 0; }

.xs-padding-horiz { padding: 0 .25em; }
.sm-padding-horiz { padding: 0 1em; }
.md-padding-horiz { padding: 0 2em; }

.xs-pad { padding: .25em; }
.sm-pad { padding: 1em; }
.md-pad { padding: 2em; }

.full-width { width: 100%; }
.half-height { width: 50%; }
.quarter-height { width: 25%; }

p.tooltip-section {
  margin-bottom: 2em;
}

p.tooltip-section .maille.maille-tooltip {
  margin-top: 3em;
  margin-bottom: 3em;
}

.lg-text { font-size: 1.25em; }

p.button-preview .maille.maille-button {
  margin-left: .25em;
  margin-right: .25em;
}

/****************/
/* Icon styling */
/****************/

.icon-demo-container {
  background-color: #CCC;
  padding: .5em .25em;
  margin: .25em .25em;
  width: 18em;
}

.icon-demo-container > span {
  background-color: #BBB;
  padding: .5em;
  margin-right: 0;
}

/******************/
/* Navbar styling */
/******************/

.navbar {
  background-color: #555;
  color: white;
  padding: .5em;
}

.nav-bar-item {
  margin: .5em;
}

.nav-bar-item a.plain {
  border: none;
}

.bordered-example-container {
  border: solid 3px black;
}

/**************************/
/* Layout example styling */
/**************************/


.two-column-layout-container-example-1 {
  width: 90%;
}

.three-row-layout-section .bordered-example-container {
  height: 500px;
  width: 30%;
  margin: 2em;
}

/*******/
/* LHS */
/*******/

#main-container-lhs {
  flex-basis: 20%;
  flex-shrink: 0;
}

#main-container-lhs .maille-lhs-nav {
  text-align: center;
  min-height: 100%;
  width: 20%;
  overflow-y: auto;

  position: fixed;
}

#topnav {
  display: none;

  background: linear-gradient(#222, #444);
  color: White;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 5em;
}

#topnav-main {
  box-sizing: border-box;
  padding: 1em;
  margin: 0;
}

@media screen and (max-width: 920px) {
  #main-container-lhs {
    display: none;
  }

  #topnav {
    display: block;
  }

  a.header-offset {
    position: relative;
    top: -3em;
  }

  .maille-two-column-layout-rhs-container {
    margin-top: 3em;
  }
}

/*******/
/* RHS */
/*******/

.jumbotron {
  padding: 15vh 5em;
  background: linear-gradient(#444, #333);
  text-align: center;
  color: #EEE;
}

/****************/
/* Misc styling */
/****************/

a.plain {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dashed;
}

h2.underlined {
  display: inline-block;
  border-bottom: 3px solid;
}

.code-block {
  display: inline-block;
  background-color: #DDD;
  padding: 1em;
  line-height:1em;
  box-sizing: border-box;
}

.centered-text { text-align: center; }
.left-aligned-text { text-align: left; }

code.section-title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
}

p.note {
  font-size: .75em;
}

ul.unstyled { list-style: none; }

a.header-offset {
  display: hidden;
}
