.maille.maille-nav-bar {
  box-sizing: var(--maille-nav-bar-box-sizing, border-box);
  min-width: var(--maille-nav-bar-min-width, 100%);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.maille.maille-nav-bar.rounded {
  border-radius: var(--maille-nav-bar-rounded-margin, .5em);
}

.maille.maille-nav-bar .maille-nav-bar-lhs-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  flex-basis: 100%;
}

.maille.maille-nav-bar .maille-nav-bar-center-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-basis: 100%;
}

.maille.maille-nav-bar .maille-nav-bar-rhs-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  flex-basis: 100%;
}
