.maille.maille-tooltip {
  position: relative;
  display: inline-block;
}
.maille.maille-tooltip.hover:hover .maille.maille-tooltip-inner { display: inline-block; }

.maille.maille-tooltip-inner {
  box-sizing: border-box;
  margin: var(--maille-tooltip-inner-margin, .25em);
  padding: var(--maille-tooltip-inner-padding, .25em);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: none;
  position: absolute;
}

.maille.maille-tooltip-inner.rounded { border-radius: var(--maille-tooltip-inner-rounded-margin, .25em); }

.maille.maille-tooltip-inner .maille-tooltip-inner-title { font-size: 1em; }
.maille.maille-tooltip-inner .maille-tooltip-inner-body { font-size: .75em; }

.maille.maille-tooltip-inner > .maille-tooltip-inner-title > .maille-tooltip-inner-close-container {
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.maille.maille-tooltip.bottom:hover .maille.maille-tooltip-inner {
  bottom: 100%;
}

.maille.maille-tooltip.top:hover .maille.maille-tooltip-inner {
  top: 100%;
}
