.maille.maille-button-group {
  display: inline-block;
  max-width: 100vw;
}

.maille-button-group-inner {
  display: flex;
  align-items: center;
}

.maille-button-group-inner > button.maille.maille-button {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

.maille.maille-button-group > button.maille.maille-button:first-child {
  margin-left: var(--maille-button-group-first-margin, 0);
}

.maille-button-group-inner > button.maille.maille-button.rounded:first-child {
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

.maille.maille-button-group > button.maille.maille-button:last-child {
  margin-left: var(--maille-button-group-last-margin, 0);
}

.maille-button-group-inner > button.maille.maille-button.rounded:last-child {
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
}

@media screen and (max-width:568px) {
  .maille-button-group { display: block; }

  .maille-button-group-inner {
    flex-direction: column;
  }

  .maille-button-group-inner > button.maille.maille-button {
    width: 90vw;
  }

  .maille-button-group-inner > button.maille.maille-button.rounded:first-child {
    border-top-left-radius: .5em;
    border-bottom-left-radius: 0;
    border-top-right-radius: .5em;
  }

  .maille-button-group-inner > button.maille.maille-button.rounded:last-child {
    border-bottom-left-radius: .5em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: .5em;
  }
}
